<div class="section h-card" id="follow-vince-veselosky">
<h3>Follow <span class="p-name">Vince Veselosky</span><a class="headerlink" href="#follow-vince-veselosky" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li>My username is “veselosky” on almost every service around.</li>
<li class="icon-large icon-home"><a class="reference u-url" rel=me href="http://vince.veselosky.me/">My Home Page</a> (you are here)</li>
<li class="icon-large icon-twitter"><a class="reference external" rel=me href="https://twitter.com/veselosky">@veselosky</a> on Twitter</li>
<li class="icon-large icon-linkedin"><a class="reference external" rel=me href="https://www.linkedin.com/in/veselosky">Resumé</a> on LinkedIn</li>
<li class="icon-large icon-github"><a class="reference external" rel=me href="https://github.com/veselosky?tab=repositories">Code</a> on Github</li>
<li class="icon-large icon-facebook"><a class="reference external" rel=me href="https://facebook.com/veselosky">Facebook</a></li>
<li class="icon-large icon-google-plus"><a class="reference external" rel=me href="https://plus.google.com/+VinceVeselosky">Google Plus</a> (but I’m rarely there)</li>
<li class="icon-large icon-slideshare"><a class="reference external" rel=me href="http://www.slideshare.net/veselosky">Slideshare</a></li>
<li class="icon-large icon-rss"><a class="reference external" href="http://vince.veselosky.me/feeds/recent.atom">Feed</a> from this site</li>
</ul>
</div>
