<aside>
  <p class="brand-logo"><a href="/"><img src="/apple-touch-icon-precomposed.png"></a></p>
  <h4 class="brand-title"><a href="/">{{ site.title }}</a></h4>

    <section>
        <p class=h4><i class="icon-user icon-large"></i>Follow Me</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a rel=me href="https://twitter.com/veselosky"><i
                    class="icon-large"></i>Twitter</a></li>
            <li class="list-group-item"><a rel=me href="https://www.facebook.com/veselosky"><i
                    class="icon-large"></i>Facebook</a></li>
            <li class="list-group-item"><a rel=me href="https://www.linkedin.com/in/veselosky/"><i
                    class="icon-large"></i>Resumé on LinkedIn</a></li>
            <li class="list-group-item"><a rel=me href="https://github.com/veselosky?tab=repositories"><i
                    class="icon-large"></i>Code on Github</a></li>
            <li class="list-group-item"><a rel=me href="http://www.slideshare.net/veselosky"><i
                    class="icon-large"></i>Slideshare</a></li>
            <li class="list-group-item"><a rel=me href="https://plus.google.com/+VinceVeselosky"><i
                    class="icon-large"></i>Google Plus</a> (but I'm rarely there)</li>
        {% if FEED_ATOM %}
            <li class="list-group-item"><a href="/{{ FEED_ATOM }}"><i class="icon-rss icon-large"></i>Feed</a></li>
        {% endif %}
        </ul>
    </section>

    {% if LINKS %}
    <section>
        <p class=h4><i class="icon-bookmark icon-large"></i>My Web Sites</p>
        <ul class="list-group list-group-flush">
        {% for name, link in LINKS %}
            <li class="list-group-item"><a href="{{ link }}"><i
                    class="icon-large icon-external-link"></i>{{ name }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

{# Uncomment if you want to show Categories #}
{#
    <section>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p class=h4><i class="icon-home icon-large"></i>Categories</p></li>
            {% for cat, null in categories %}
                <li class="list-group-item">
                    <a href="{{ SITEURL }}/{{ cat.url }}">
                        <i class="icon-folder-open icon-large"></i>{{ cat }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
#}

    {% include 'includes/github.html' %}
    {% include 'includes/twitter_timeline.htm' %}
</aside>
