<aside>
    <p class="brand-logo"><img src="{{ siteroot }}apple-touch-icon-precomposed.png"></p>
    <h4 class="brand-title">{{ site.title }}</h4>
    <h4 class="brand-tagline">{{ site.tagline }}</h4>

    {% if site.social %}
    <section>
        <p class=h4><i class="icon-user icon-large"></i>Follow Me</p>
        <ul class="list-group list-group-flush">
        {% for name, link in site.social.items() %}
            <li class="list-group-item"><a rel=me href="{{ link }}"><i
                    class="icon-large"></i>{{ name }}
            </a></li>
        {% endfor %}
        {% if FEED_ATOM %}
            <li class="list-group-item"><a href="{{ SITEURL }}/{{ FEED_ATOM }}"><i class="icon-rss icon-large"></i>Feed</a></li>
        {% endif %}
        </ul>
    </section>
    {% endif %}

    {% if LINKS %}
    <section>
        <p class=h4><i class="icon-bookmark icon-large"></i>My Web Sites</p>
        <ul class="list-group list-group-flush">
        {% for name, link in LINKS %}
            <li class="list-group-item"><a href="{{ link }}"><i
                    class="icon-large icon-external-link"></i>{{ name }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

{# Uncomment if you want to show Categories #}
{#
    <section>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p class=h4><i class="icon-home icon-large"></i>Categories</p></li>
            {% for cat, null in categories %}
                <li class="list-group-item">
                    <a href="{{ SITEURL }}/{{ cat.url }}">
                        <i class="icon-folder-open icon-large"></i>{{ cat }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
#}

    {% include 'includes/github.html' %}
    {% include 'includes/twitter_timeline.htm' %}
</aside>
