/* LAYOUT CSS */
/* @import url('impure.css'); */
#layout {
    max-width: 1023px;
    margin: auto;
}

main {
    padding: 0 2em;
}

/* TYPOGRAPHY */
html {
  font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
}
body {
  font-size: 18px;
  color: #3E4349;
  line-height: 1.5;
}
.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    font-size: 17px;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-size: 110%;
    font-style: italic;
}
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

.h4 { font-weight: bold; }

.brand-title,
.brand-tagline,
.brand-logo {
    text-align: center;
    font-weight: bold;
    margin:0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
  /*  color: rgb(176, 202, 219); */
}
.brand-logo {
    margin: 24px 0 0 0;
}

/*.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}*/
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.h-entry {
    padding-bottom: 2em;
}
.p-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.footer {
    color: #999;
    font-size: 80%;
    text-align: center;
    padding: 1em 0;
}
a.headerlink {display: none}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink
{ display: inline }
