<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ Item.description }}">
<title>{{ Item.title }} | {{ site.title }}</title>

    <link rel="stylesheet" href="/assets/css/blog.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
</head>
<body>

<div id="layout" class="pure-g">

    <div class="content pure-u-1 pure-u-lg-3-4">
        <!-- A wrapper for all the blog posts -->
        <main class="posts">
            <!-- A single blog post -->
            <article class="h-entry">
                <div class="e-content">
                    {{ Page.text | safe }}
                </div>
                <footer class="post-header">
                    <p class="p-meta">
                        By <span class="p-author">{{ Item.author or site.author }}</span> on <time class="dt-published">{{ Item.published[:10] }}</time>
                    </p>
                </footer>
            </article>
        </main>
        <footer class="footer">{{ Item.copyright }} | <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img
  alt="Creative Commons License" style="border-width:0"
  src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
  <br>
This work is licensed under
  <a rel="license"
  href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons
  Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
        </footer>
    </div><!-- content -->

    <div class="sidebar pure-u-1 pure-u-lg-1-4">
        {% include "includes/sidebar.html" %}
    </div>

</div><!-- layout -->


{% include "includes/analytics.htm" %}
</body>
</html>
