{% extends "Item_Page.html.j2" %}
{%- block main -%}
{%- import 'macros.j2' as macros -%}
{%- set author = Item.attributions|jmes("[?role==`author`]|[0]") or
site.attributions|jmes("[?role=`author`]|[0]") -%}

{% if Page.text -%}
<article class="h-entry">
    <div class="e-content">
        {{ Page.text | safe }}
    </div>
    <footer class="post-header">
        <p class="p-meta">
            By <span class="p-author">{{ author.name }}</span> on <time class="dt-published">{{ Item.published[:10] }}</time>
        </p>
    </footer>
</article>
{%- endif -%}
<section class="item-list">
{%- set entries = Index.Items|jmes(Catalog.queries[0]) -%}
{% for entry in entries -%}
<article class="item h-entry">
  <div class="p-meta"><time class="dt-updated">{{ entry.updated[:10] }}</time></div>
  <h3 class="p-name"><a href="{{ entry.archetype.href|with_suffix('.html') }}">{{ entry.title }}</a></h3>
  {% if entry.description %}<p>{{ entry.description }}</p>{% endif %}
</article>
{%- endfor %}
</section>

<footer class="footer">{{ macros.copyright_notice(Item) }}</footer>

{%- endblock main -%}
