<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- block stylesheets -%}
<link rel="stylesheet" href="/_T/{{ options.theme }}/style.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
{%- endblock stylesheets -%}

{%- block docmeta -%}
  <title>{{ Item.title }}</title>
  <meta name="description" content="{{ Item.description }}">
  <meta property="og:title" content="{{ Item.title }}">
  <meta property="og:type" content="article">
  {# TODO Lookup table based on itemtype #}
  <meta property="og:description" content="{{ Item.description }}">
  {% if Item.thumbnail -%}
  <meta property="og:image" content="{{ Item.thumbnail.href }}">
  {%- endif %}
  {%- if site.twitter %}
  <meta name="twitter:card" content="{{ Item.twittercard or 'summary' }}">
  <meta name="twitter:site" content="{{ site.twitter }}">
  {%- endif %}
{%- endblock docmeta -%}

</head>
<body>
{% block wholebody -%}

<div id="layout" class="pure-g">

    <div class="content pure-u-1 pure-u-lg-3-4">
        <!-- A wrapper for all the blog posts -->
        <main class="posts">
        {%- block main -%}
{%- import 'macros.j2' as macros -%}
{%- set author = Item.attributions|jmes("[?role==`author`]|[0]") or
site.attributions|jmes("[?role=`author`]|[0]") -%}
            <!-- A single blog post -->
            <article class="h-entry">
                <div class="e-content">
                    {%- block bodycontent -%}
                    {{ Item.description | safe }}
                    {%- endblock bodycontent -%}
                </div>
                <footer class="post-header">
                    <p class="p-meta">
                        By <span class="p-author">{{ author.name }}</span> on <time class="dt-published">{{ Item.published[:10] }}</time>
                    </p>
                </footer>
            </article>
            <footer class="footer">{{ macros.copyright_notice(Item) }}</footer>
        {%- endblock main -%}
        </main>
    </div><!-- content -->

    <div class="sidebar pure-u-1 pure-u-lg-1-4">
        {% include "includes/sidebar.html" %}
    </div>

</div><!-- layout -->

{%- endblock wholebody -%}

{%- block footscripts -%}
{% include "includes/analytics.htm" %}
{%- endblock footscripts -%}
</body>
</html>
